DEBUG=on
SECRET_KEY=your-secret-key
#DATABASE_URL=mysql://user:un-githubbedpassword@127.0.0.1:3306/biblio
DATABASE_URL=sqlite:///db.sqlite3
ALLOWED_HOSTS=*,elmeudomini.com
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://elmeudomini.com
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://elmeudomini.com