const config = {
  development: {
    API_URL: 'http://localhost:8000/api',
    MEDIA_URL: 'http://localhost:8000',
    DEBUG: true,
  },
  production: {
    API_URL: 'https://elmeudomini.com/api',
    MEDIA_URL: 'https://elmeudomini.com',
    DEBUG: false,
  }
};

const env = process.env.NODE_ENV || 'development';
export default config[env];
